@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
  

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f4ff;
}

#title-home{
  font-family: 'Archivo Black', sans-serif;
  background: #00fbff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00fbff, #734dff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00fbff, #734dff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

.item-nav{
  padding: 0 10px;

}

.item-nav::after{
  content: "";
  position: absolute;
  background-color: #734dff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;

}

.item-nav:hover::after{
  width: 100%;


}

#title-login{
  font-family: 'Secular One', sans-serif;
}

#title-login{
  width: 0;
  overflow: hidden;
  white-space: nowrap;  
  margin: 0 auto;
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
