@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
  

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #212224;
}

#title-home{
  font-family: 'Archivo Black', sans-serif;
  background: #00fbff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00fbff, #734dff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00fbff, #734dff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

.item-nav{
  padding: 0 10px;

}

.item-nav::after{
  content: "";
  position: absolute;
  background-color: #734dff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;

}

.item-nav:hover::after{
  width: 100%;


}

#title-login, .title-professionals{
  font-family: 'Secular One', sans-serif;
}



.title-professionals  {
 
  color:#734dff
}

.title-professionals:nth-child(1) {
  animation-delay: 0s;
}

.title-professionals:nth-child(2) {
  animation-delay: 0.1s;
}

.title-professionals:nth-child(3) {
  animation-delay: 0.2s;
}

.title-professionals:nth-child(4) {
  animation-delay: 0.3s;
}

.title-professionals:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }};



#title-login {
  width: 0;
  overflow: hidden;
  white-space: nowrap;  
  margin: 0 auto;
  border-right: 0.15em solid #c3a2ff;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#title-login  {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;
  border-right: 0.15em solid #c3a2ff;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}


